@charset "UTF-8";
.content{
    margin: 0px auto;
    width: calc(100vw - 300px);
    height: calc(100vh- 60px);
    /* width: 1400px; */
    min-width: 1000px;
    overflow: hidden;
}
.content_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    padding: 0 20px;
    font-weight: 500;
    color: #fff;
    background-color: #6571ff;
}
.content_header_title{
    font-size: 18px;

}
.content_header_btn{
    display: flex;
}
.content_header_btn > div {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.content_header_btn > div > div {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
/* .content_header_search_btn{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
} */
.content_header_search_btn:hover , .content_header_plus_btn:hover, .content_header_reset_btn:hover{
    background-color: #7782f8;
}

.content_body{
    padding: 5px;
    background-color: #e2e2e2;
}
.content_body_search{
    display: flex;
    justify-content: space-between;
}
.content_search_one{
    flex-grow: 1;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #fff;
    font-size: 12px;
    
}
.content_search_two{
    margin-left: 5px;
    flex-grow: 0;
    width: 130px;
    height:130px;
    border-radius: 8px;
    background-color: #fff;
    
}

/* content_body_search �븞�뿉 div �깭洹� �겕湲곗꽕�젙 */
.content_search_one > div{
    margin: 5px auto;
    display: flex;
    align-content: center;
    height: 30px;
}
.content_search_one > div > div{
    display: flex;
    justify-content: right;
    align-items: center;
    /* text-align: right; */
    width: 280px;
    height: 30px;
}
.content_body_search label{
    text-align: right;
    width: 60px;
}

.item_code_create > button:hover{
    background-color: #7782f8;
}
.item_code > label{
    color: red;
}
.item_code > input{
    cursor: not-allowed;
}

/* content_body_search �븞�뿉 input �깭洹� �겕湲곗꽕�젙 */
.content_body_search input{
    width: 165px;
    height: 25px;
    margin-left: 5px;
    padding: 0 1px;
    border: 1px solid #cbd6dd;
}
.tworow input{
	background-color: #e9e9e9;
	cursor: not-allowed;
}
.categoryBrand{
	background-color: #e9e9e9;
	cursor: not-allowed;
}
.content_body_search select{
    margin-left: 5px;
    width: 165px;
    height: 26px;
    border: 1px solid #cbd6dd;
}


/* 異붽��젙蹂� �떆�옉 */
.content_body_search_plus{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 5px;
    height: 30px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}
.content_body_search_plus > div:nth-child(2){
    margin-left: 5px;
}
.content_body_search_plus.on{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.content_body_search_plus.on > div:nth-child(2){
    transform: scaleY(-1);
}
.content_body_search_plus > div {
    margin-left: 20px;
}
.content_plus{
    display: none;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}
.content_plus.on{
    display: block;
}
/* 異붽��젙蹂� 留덉�留� */

.content_body_search_price{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    height: 80px;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
}
.content_body_search_price > div {
    /* border: 1px solid red; */
    margin: 3px auto;
    display: flex;
    align-content: center;
    width: 100%;
    height: 30px;
}
.content_body_search_price > div > div {
    width: 280px;
    height: 30px;
    font-size: 12px;
    text-align: right;
}
.content_body_search_price input{
    margin-left: 5px;
    width: 165px;
    height: 25px;
    color: #575757;
    font-weight: 800;
    background-color: #e9e9e9;
    border: 1px solid #cbd6dd;
    text-align: right;
}

.content_body_list{
    overflow: auto;
    margin-top: 5px;
    /* height: 500px; */
    border-radius: 10px;
}
.tworow input ,  .onerow input{
	background-color: #e9e9e9;
    cursor: not-allowed;
}

.file_btn{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 5px;
    height: 35px;
}
.file_btn > div {
    display: flex;
    /* width: 50px; */
    color: white;
    font-size: 12px;
}
.file_btn > div > div {
	display:flex;	
    align-items: center;
    padding: 10px;
	height:100%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6571ff;
}
.product_btn, .warehouse_btn{
	margin-right: 5px;
}
.excel_btn{
	margin-left: 5px;
}
.excel_btn:hover, .upload_btn:hover , .product_btn:hover, .warehouse_btn:hover, .inventory_qty_btn:hover, .content_body_search_btn:hover {
    background-color: #7782f8;
}
.content_body_search_sty{
	display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
    height: 50px;
    margin: 5px -5px;
    color:#fff;
    background-color: #6571ff;
}
.content_body_search_sty > div:nth-child(1), .content_body_search_sty > div:nth-child(2){
	margin-right: 5px;
}
.content_body_search_btn{
	padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.content_body_list{
    overflow: auto;
    margin-top: 5px;
    /* height: 500px; */
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
/* �뀒�씠釉� �뿤�뜑 �뒪���씪 */
th {
    font-weight: 600;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
/* �뀒�씠釉� 諛붾뵒 �뒪���씪 */
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
/* �뀒�씠釉붿쓽 ���닔/吏앹닔 �뻾 �깋�긽 援щ텇 */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr > th{
    text-align: center;
}
tr:nth-child(odd) {
    background-color: #fff;
}
tr > th:nth-child(1) , tr > td:nth-child(1){
	width: 70px;
	font-weight: 600;
	
}
tr > td:nth-last-child(1) , tr > th:nth-last-child(1){
	width: 150px;	
}
.sty button {
	font-size: 12px;
    width: 55px;
    height: 30px;
	margin-right: 5px;
}
.sty tr:hover td{
    background-color: #6571ff;
    color:white;
    cursor: pointer;
}
.pageNumDiv{
	display: flex;
    justify-content: center;
}
.modalpage{
	margin:10px;
	text-align: center;	
}
#modal_update_body{
	display: flex;
}
.product_code_create{
	width: 120px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #6571ff;
}
.updateOne  label{
	text-align:right;
	width: 100px;
}
.updateName, .updateCode{
    background-color: #e9e9e9;
    cursor: not-allowed;
}
.updateOne > div, .updateTwo > div { 
	margin-top: 5px;
}
.updateOne > div {
	width: 290px;
	height: 30px;
}
.updateOne input{
	padding-left: 5px;
	width: 183px;
	border: 1px solid #cbd6dd;	
}
.updateThree{
	width: 200px;
}
.modal-dialog.modal-lg {
    max-height: 600px; /* 최대 높이 */
    height: 600px; /* 고정 높이 */
}
.modal-body {
    max-height: 500px; /* 본문의 최대 높이 (고정 높이보다 작아야 함) */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}
.product_brand_search > tr > th:nth-last-child(1){
	width: 80px;	
}
#newModal .modal-dialog {
	min-width:900px;
	z-index: 100;
	overflow: auto;
}
.product_brand_search tr > td:nth-last-child(1), .product_brand_search tr > th:nth-last-child(1){
	width: 100px;	
}
.selectSearch  select{
	border: var(--bs-border-width) solid var(--bs-border-color);
	width: 100px;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.btn-danger {
    background-color: #ff3366 !important; /* 원하는 색상 */
    border-color: #ff3366 !important; 
}