@charset "UTF-8";
.content {
    margin: 0px auto;
    /*width: calc(100vw - 300px);*/
    /*height: calc(100vh - 60px);*/
    /* width: 1400px; */
    min-width: 1000px;
    overflow: hidden;
}
.content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    padding: 0 20px;
    font-weight: 500;
    color: #fff;
    background-color: #6571ff;
}
.content_header_title {
    font-size: 18px;
}
.content_header_btn {
    display: flex;
}
.content_header_btn > div {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.content_header_btn > div > div {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
/* .content_header_search_btn{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
} */
.content_header_search_btn:hover {
    background-color: #7782f8; 
}
/* .content_header_search_btn >div{
    width: 30px;
    height: 30px;
} */
.content_header_reset_btn:hover {
    background-color: #7782f8;
}
/* .content_header_excel_btn >div{
    width: 30px;
    height: 30px;
} */
.content_body {
    padding: 5px;
    background-color: #e2e2e2;
}
.content_body_search {
    padding: 10px 10px;
    /* height: 105px; */
    border-radius: 8px;
    font-size: 12px;
    background-color: #fff;
    overflow: hidden;
}
/* content_body_search 안에 div 태그 크기설정 */
.content_body_search > div {
    margin: 5px 0; /* 위아래 여백만 남기고, 양옆 여백 제거 -SETTLEMENT-AUTO*/
    display: flex;
    align-items: center; /* align-content -> align-items로 수정하여 자식 요소의 정렬 */
    gap: 10px; /* 라벨과 입력 필드 간의 거리를 줄이기 위해 간격 조정 */
    height: 30px;
}
.content_body_search > div > div{
    display: flex;
    justify-content: right;
    align-items: center;
    /* text-align: right; */
    width: 280px;
    height: 30px;
}
.content_body_search label {
    text-align: right;    
    width: 80px; /* 라벨의 너비를 줄여 필드와 가까워지도록 -60 */
    margin-right: 5px; /* 라벨과 입력 필드 사이의 간격 줄임 */
}
.item_code_create {
    padding-left: 20px;
}
.item_code_create > button {
    width: 100px;
    height: 30px;
    margin-right: 150px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #6571ff;
}
.item_code_create > button:hover {
    background-color: #7782f8;
}
.item_code > label {
    color: red;
}
.item_code > input {
    cursor: not-allowed;
}
/* content_body_search 안에 input 태그 크기설정 */
.content_body_search input {
    width: 165px;
    height: 25px;
    margin-left: 5px;
    padding: 0 1px;
    border: 1px solid #cbd6dd;
}
.content_body_search select, .content_body_search_price select {
    margin-left: 5px;
    width: 165px;
    height: 26px;
    border: 1px solid #cbd6dd;
    background-color: #fff;
}


/* 추가정보 시작 */
.content_body_search_plus {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 5px;
    height: 30px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}
.content_body_search_plus > div:nth-child(2) {
    margin-left: 5px;
}
.content_body_search_plus.on {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.content_body_search_plus.on > div:nth-child(2) {
    transform: scaleY(-1);
}
.content_body_search_plus > div {
    margin-left: 20px;
}
.content_plus {
    display: none;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}
.content_plus.on {
    display: block;
}
/* 추가정보 마지막 */
.content_body_search_price {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    height: 80px;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
}
.content_body_search_price > div {
    /* border: 1px solid red; */
    margin: 3px auto;
    display: flex;
    align-content: center;
    width: 100%;
    height: 30px;
}
.content_body_search_price > div > div {
    width: 280px;
    height: 30px;
    font-size: 12px;
    text-align: right;
}
/*
.content_body_search_price input{
    margin-left: 5px;
    width: 165px;
    height: 25px;        
    border: 1px solid #cbd6dd;
    text-align: right;
}
*/
.content_body_search_price input {
    margin-left: 5px;
    width: 165px;
    height: 25px;
    color: #575757; /* Added color */
    /* font-weight: 800;  Added font-weight */
    /* background-color: #e9e9e9; /* Added background color */
    border: 1px solid #cbd6dd;
    text-align: right;
}
.content_body_list {
    overflow: auto;
    margin-top: 5px;
     /* height: 500px; */
    border-radius: 10px;
}
.file_btn {
    padding: 0px 10px;
    display: flex;
    justify-content: right;
    font-size: 15px;
    margin-top: 5px;
    height: 35px;
}
.file_btn > div {
    margin-left: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* width: 50px; */
    color: white;
    font-size: 12px;
    background-color: #6571ff;
    cursor: pointer;
}
.excel_btn:hover, .upload_btn:hover {
    background-color: #7782f8;
}
table {
    width: 100%;    
    border-collapse: collapse;
}
/* 테이블 헤더 스타일 */
th {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/* 테이블 바디 스타일 */
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/* 테이블의 홀수/짝수 행 색상 구분 */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:nth-child(odd) {
    background-color: #fff;
}
.sty tr:hover {
    background-color: #6571ff;
    cursor: pointer;
}
.read-only-field {
    background-color: #e9e9e9; /* 회색 배경으로 비활성화된 느낌 */
    cursor: not-allowed; /* 커서가 접근 불가로 보이게 */
}
select {
    appearance: auto; /* 브라우저 기본 스타일을 사용하게 설정 */
    -webkit-appearance: auto; /* Webkit 기반 브라우저 (Chrome, Safari)에서 기본 스타일 사용 */
    -moz-appearance: auto; /* Mozilla 기반 브라우저에서 기본 스타일 사용 */
}
.pagination {
    display: flex;
    justify-content: center;  /* 자식 요소를 수평 가운데로 정렬 */
    align-items: center;      /* 자식 요소를 수직 가운데로 정렬 */
    margin-top: 20px;         /* 필요에 따라 간격을 조정 */
}
.disabled-field {
    background-color: #f0f0f0;
    pointer-events: none; /* 클릭 금지 */
}
.product_brand_search > tr > th:nth-last-child(1){
	width: 80px;	
}
#newModal .modal-dialog {
	min-width:900px;
	z-index: 100;
	overflow: auto;
}
.product_brand_search tr > td:nth-last-child(1), .product_brand_search tr > th:nth-last-child(1){
	width: 100px;	
}
.modalpage{
	margin:10px;
	text-align: center;	
}
.selectSearch  select{
	border: var(--bs-border-width) solid var(--bs-border-color);
	width: 100px;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
