<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ErpAuthMapper">
    <!-- 조건 권한 추가 -->
    <insert id="insertErpAuth">
        insert into erp_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null"> userid, </if>
            <if test="orgId != null"> orgId, </if>
            auth
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="userid != null"> #{userid}, </if>
            <if test="orgId != null"> #{orgId}, </if>
            #{auth}
        </trim>
    </insert>

    <!-- 조건에 맞는 권한 삭제 -->
    <delete id="deleteAuth">
        delete from erp_auth
        <where>
            <if test="userid != null">
                userid = #{userid}
            </if>
            <if test="orgId != null">
                and orgId = #{orgId}
            </if>
            <if test="auth != null">
                and auth = #{auth}
            </if>
        </where>
    </delete>

</mapper>