<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ErpUserMapper">
    <!-- 사용자 추가 -->
    <insert id="insertErpUser">
        insert into erp_user values(
        #{userid}, #{passwd}, #{name}, #{phone}, #{address},
        #{email}, #{gender}, #{birthday}, #{joindate}, #{enabled}, #{orgId}
        )
    </insert>

    <!-- 사용자 정보 수정 -->
    <!-- 비번, 폰번호, 주소, 이메일, 계정상태, 부서만 수정가능하게 -->
    <update id="updateErpUser">
        update erp_user
        <set>
            <if test="passwd != null and passwd != ''">
                passwd = #{passwd},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="enabled != null and enabled != ''">
                enabled = #{enabled}
            </if>
            <if test="orgId != null and orgId != ''">  <!-- org_id를 orgId로 변경 -->
                org_id = #{orgId},
            </if>
        </set>
        where userid = #{userid}
    </update>

    <!-- 특정 회원정보를 검색할 수 있게 -->
    <resultMap id="erpUserResultMap" type="dto.ErpUser">
        <id column="userid" property="userid"/>
        <result column="passwd" property="passwd"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="joindate" property="joindate"/>
        <result column="enabled" property="enabled"/>
        <result column="org_id" property="orgId"/>

        <!-- 사용자 권한 목록을 가져오기 위한 컬렉션 -->
        <collection property="erpAuthList" select="selectErpAuthByUserid" column="userid"/>
    </resultMap>

    <select id="selectErpAuthByUserid" resultType="dto.ErpAuth">
        SELECT userid, auth FROM erp_auth WHERE userid = #{userid}
    </select>

    <select id="selectErpUserByUserid" resultMap="erpUserResultMap">
        SELECT userid, passwd, name, phone, address, email, gender, birthday, joindate, enabled, org_id
        FROM erp_user WHERE userid = #{userid}
    </select>

    <!-- 사용자 권한 추가 -->
    <insert id="insertErpAuth">
        insert into erp_auth values(#{userid}, #{auth})
    </insert>
</mapper>